#publicacoes {

    height: 100vh;
    background-color: black;
    background: url(img/backgroundtex.png) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titulo_pag4{

    color: white;
    text-align: center;
    padding-top: 4vh;
    font-size: 30px;

}

.container_pag4 {
    height: 80vh;
    width: 100vw;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
}

.box_job {
    
    background-position: center;
    height: 100%;
    width: 28%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    filter: grayscale(60%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: 0px;
    text-align: center;
}

.box_job > p {
    margin: 20px;
    text-shadow: 1px 1px 1px #000, 2px 2px 2px #000;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 5px;
}



#job_um {
    background-image: url('img/page_4/pk_run.png');
    transition: 1s;
}

        #job_um:hover {
            box-shadow: 1px 1px 30px 1px orange;
            filter: grayscale(0%);
            scale: 1.02;
            font-size: 20px;
            color: orange;
        }

#job_dois {
    background-image: url('img/page_4/nano_beach.png');
    transition: 1s;
}

    #job_dois:hover {
        box-shadow: 1px 1px 30px 1px rgb(11, 242, 250);
        filter: grayscale(0%);
        scale: 1.02;
        font-size: 20px;
            color: white;
    }

#job_tres {
    background-image: url('img/page_4/slidingpuzzle.png');
    transition: 1s;
}

#job_tres:hover {
    box-shadow: 1px 1px 30px 1px rgb(173, 0, 0);
    filter: grayscale(0%);
    scale: 1.02;
    font-size: 20px;
            color: white;
}

.box_job > a > img {
    margin: 10px;
    margin-bottom: 20px;
  
}


@media only screen and (max-width: 1000px){

    .container_pag4 {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .box_job {
        width: 80vw;
        height: 20vh;
        background-position:0px -15px ;
        max-width: 250px;
    }

    #job_um:hover {
        font-size: 16px;
    }
    #job_dois:hover {
        font-size: 16px;
    }
    #job_tres:hover {
        font-size: 16px;
    }
    .box_job > a > img {
        height: 40px;
        margin-bottom: -20px;
    }

    
.box_job > p {
    background-color: #000;

}

}